(*$LIBRARY XP02*)
(*$IMPORT IEC_61131
filename: 'Libraries\IEC 61131-3.lcp'
version: '0.2.0.0'
timestamp: '2020-10-05-13:27:27.810'
fblks: CTD, CTU, CTUD, F_TRIG, R_TRIG, RS, SEMA, SR, TOF, TON, TP
*)
(* GLOBAL VARIABLES *)
(* USER POUs *)
(*$TASKS 
*)
(*$END_LIBRARY*)
