<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CPDev.GraphicEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CPDev.GraphicEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CPDev.GraphicEditor.Properties.Settings>
            <setting name="MinVariableWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MinFunctionWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinFunctionBlockWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ElementsAnalysis" serializeAs="String">
                <value/>
            </setting>
            <setting name="SimulationTargets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CPSimulation.dll,Simulation</string>
                        <string>CPInspect.dll,Modbus-SMC</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MinCommentWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GDIScaleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConstantLineValues" serializeAs="String">
                <value>False</value>
            </setting>
        </CPDev.GraphicEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CPDev.GraphicEditor.Properties.Settings>
            <setting name="FontRegular" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>Arial, 9pt, style=Bold</value>
            </setting>
            <setting name="FontSimulationValues" serializeAs="String">
                <value>Arial, 7pt</value>
            </setting>
            <setting name="FontPrintoutCaptionDescription" serializeAs="String">
                <value>Arial, 8pt</value>
            </setting>
            <setting name="FontPrintoutCaptionValue" serializeAs="String">
                <value>Arial, 8pt, style=Bold</value>
            </setting>
            <setting name="FontComment" serializeAs="String">
                <value>Arial, 9pt, style=Italic</value>
            </setting>
        </CPDev.GraphicEditor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
