<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinControllerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <WinControllerClient.Properties.Settings>
            <setting name="ServiceURLHttpTemplate" serializeAs="String">
                <value>http://{0}:8000/CPDev/WinController</value>
            </setting>
            <setting name="ServiceURLTcpTemplate" serializeAs="String">
                <value>net.tcp://{0}:8092/CPDev/WinController</value>
            </setting>
            <setting name="ServiceHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="bHttpConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>PAL1131::Controller</value>
            </setting>
        </WinControllerClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
