<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XPInspect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XPInspect.Properties.Settings>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PortNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BPS" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SilentInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnitNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RetryCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SlaveIP" serializeAs="String">
                <value>192.168.1.101</value>
            </setting>
            <setting name="SlavePort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="AutoDetectIP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CRC_AllignedMem" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Controller" serializeAs="String">
                <value>0</value>
            </setting>
        </XPInspect.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
